@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400;500;600;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overflow {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: blue;
    padding: 20px;
}

.navbar h1 {
    font-size: 28px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li a {
    margin: 0 25px;
    padding: 2px;
    border-bottom: 1px solid rgba(255, 166, 0, 0);
    transition: all 1s;
    font-size: 16px;
    /* background-color: red; */
}

.nav-links li a:hover {
    color: blue;
    border-bottom: 1px solid blue;
}

.btn-sign {
    display: flex;
    gap: 12px;
}

.btn-signin,
.btn-signup {
    padding: 6px 16px;
    background: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

.btn-signup {
    background-color: whitesmoke;
    color: blue;
    border: none;
}

li a {
    text-decoration: none;
    color: black;
    padding: 18px;
    transition: 1s ease-in-out;
}

ul {
    list-style: none;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 38px;
    cursor: pointer;
    display: none;
}

/* Header */

.home {
    width: 100%;
    height: 100vh;
    background: url(images/Desktop\ -\ 1\ \(7\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20px -80px;
    display: flex;
    align-items: center;
    padding: 58px 8% 0;
}

.home-content {
    max-width: 620px;
}

.home-content h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
}

.home-content h3 {
    font-size: 28px;
    color: blue; 
    font-weight: 800;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
}

button {
    padding: 8px 18px;
    background-color: blue;
    border: none;
    letter-spacing: .8px;
    transition: all .5s;
}

button a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
}

/* SECTION KEDUA */

.cars {
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.heading {
    margin-top: 20px;
    margin-bottom: 20px ;
    text-align: center;
    line-height: 30px;
}

.heading span {
    font-size: 24px;
    color: blue;
    font-weight: 800;
}

.heading h2 {
    font-weight: bold;
}

.heading p {
    font-size: 16px;
    font-weight: 300;
}

.cars {
    width: 100vw;
    height: 80vh;
    margin-bottom: 100px;
    align-items: center;
}

.cars-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: auto 100px;
}

.box {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    /* width: 87%; */
    margin: 0px auto;
    background-color: #eaeaea;
    border-radius: 15px;
}

.box img {
    width: 350px;
    height: 235px;
    margin: 20px;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.box .img {
    width: 70%;
    text-align: center;
}

.box .img h2 {
    margin-top: -10px;
}

.box .img h3 {
    margin-top: -5px;
    margin-bottom: 15px;
    color: blue;

}

.box .img p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* SECTION KETIGA */

.best-cars {
    width: 100vw;
    height: 100vh;
    background-image: url(images/peter-broomfield-m3m-lnR90uM-unsplash\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100px;
    /* filter: brightness(50%); */
    object-fit: cover;
    display: flex;
    align-items: center;
    padding: 0px 5% 80px;
}

.mercedes {
    /* background-color: red; */
    max-width: 450px;
}

.mercedes h3 {
    color: whitesmoke;
    font-size: 22px;
}

.mercedes h1 {
    color: whitesmoke;
    font-size: 32px;
    /* margin-top: -10px; */
    margin-bottom: 12px;
    line-height: 30px;
    letter-spacing: 2px;
}

.mercedes p {
    color: rgb(245, 245, 245);
    font-size: 12px;
    margin-bottom: 12px;
}

.mercedes button {
    color: whitesmoke;
    width: 400px;
    height: 45px;
    margin-top:  12px;
    letter-spacing: 3px;
}

.button-2 {
    background-color: transparent;
    border: 1px solid whitesmoke;
}

/* FOOTER */

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}


/* FOOTER */
.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: blue;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 12px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    color: #bbbbbb;
    transition: all 0.3s ease;
    position: relative;
    right: 15px;
}

.footer-col p {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    color: #bbbbbb;
    transition: all 0.3s ease;
}

.footer-col p:hover {
    color: #fff;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/* RESPONSIVE */

@media (max-width: 768px) {
    .navbar {
            padding: 0;
        }
    
        .logo {
            position: absolute;
            top: 30px;
            left: 30px;
        }
    
        .nav-links {
            flex-direction: column;
            width: 100%;
            height: 60vh;
            justify-content: center;
            background: blue;
            transition: 1s;
        }
    
        .nav-links li {
            margin-top: 30px;
        }

        .nav-links li a {
            color: whitesmoke;
        }
    
        .hidden {
            margin-top: -900px;
        }
    
        .menu-btn {
            display: flex;
        }

        .btn-sign {
            display: none;
        } 

        .home {
            background-image: url(images/iPhone\ SE\ -\ 1\ \(1\).png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 112vh;
            background-position: 5px 80px;
            transform: translateY(-80px);
        }

        .home-content h1 {
            font-size: 28px;
        }

        .home-content h3 {
            font-size: 24px;
        }

        .home-content p {
            font-size: 13px;
        }

        button {
            padding: 4px 14px;
        }

        button a {
            font-size: 16px;
        }

        /* SECTION KEDUA */

        .heading span {
            font-size: 20px;
        }

        .heading h2 {
            font-size: 16px;
        }

        .heading p {
            font-size: 13px;
            line-height: 20px;
            margin: auto 10px;
            margin-bottom: 30px;
        }

        .cars-container {
            margin: auto 20px;
        }

        .box img {
            width: 170px;
            height: 120px;
            margin: 20px 10px 20px 10px;
        }

        .box .img h2 {
            font-size: 20px;
        }

        .box .img h3 {
            font-size: 16px;
        }

        .box .img p {
            font-size: 11px;
        }

        /* SECTION KETIGA */

        .best-cars {
            height: 100vh;
            padding: 0px 5% 300px;
            background-size: cover;
            background-position: -400px 0;
        }

        .mercedes {
            /* background-color: red; */
            max-width: 280px;
        }

        .mercedes h1 {
            font-size: 20px;
            margin-bottom: 0px;
        }

        .mercedes h3 {
            font-size: 13px;
        }
        
        .mercedes p {
            font-size: 9px;
            margin-bottom: 2px;
        }

        .mercedes button {
            width: 200px;
            height: 20px;
            font-size: 9px;
            letter-spacing: 2px;
        }

        /* footer */

        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
}